
.bodyContact{
    background-color: #2b2b2b;
 //   margin-left: 650px;

    padding: 20px;
}

p{
    color: #8b89a6;
    font-family: 'Gilda Display', serif;
}

.p2{
    color: #ab8a62;
}

.h4Contact{
    color: white;
    font-size: 15px;
    padding-bottom: 20px;
    font-family: Ba;


}

.fontContact{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 20px;

}

.icones1{
    color: #ab8a62;
    width: 20px;
}

.icones2{
    color: #ab8a62;
    width: 20px;
}

.formContact{
    color: #8f8f8f;
    background-color: #2b2b2b;

}

input{
    background-color: #2b2b2b;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #8b89a654;
    color: #8b89a6;
    border-bottom-style: groove;
}

textarea{
    background-color: #2b2b2b;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #8b89a6;
    padding: 2px;
    border-bottom-color: #ab8a6228;
    border-bottom-style: groove;
}


.footer{
    background-color: #1b1b1b;
    padding: 20px;
}