.design__footer1{
    background-color: $color3;
    padding: 100px;
}

.design__footer2{
    background-color: $color2;
    padding: 50px;
    text-align: center;
    a{
        text-decoration: none;
        color: white;
    }
}