
.gridContainerContact {
    display: grid;

    grid-template-areas:
    "Ducsman       Ducsman       Ducsman       Ducsman       Ducsman       Ducsman     Restons   Restons   Restons   Restons      Restons      Restons "
    "TexteCont     TexteCont     TexteCont     TexteCont     TexteCont     TexteCont   Nom       Nom       Nom       MailClient   MailClient   MailClient   "
    "IconeCall     InfoRésa      InfoRésa      InfoRésa      InfoRésa      InfoRésa    Tel       Tel       Tel       Sujet        Sujet        Sujet  "
    "IconeCall     TelHotel      TelHotel      TelHotel      TelHotel      TelHotel    Tel       Tel       Tel       Sujet        Sujet        Sujet   "
    "IconeEnve     MailDucs      MailDucs      MailDucs      MailDucs      MailDucs    Message   Message   Message   Message      Message      Message  "
    "IconeEnve     MailHotel     MailHotel     MailHotel     MailHotel     MailHotel   Message   Message   Message   Message      Message      Message  "
    "IconeMap      Adresse       Adresse       Adresse       Adresse       Adresse     Message   Message   Message   Message      Message      Message  "
    "IconeMap      Adresse       Adresse       Adresse       Adresse       Adresse     Bouton    Bouton    Bouton    Bouton       Bouton       Bouton   ";
} 


.gridContactDucsman {
    grid-area: Ducsman;
    padding-left: 50px;
}

.gridContactRestons {
    grid-area: Restons;
    padding-left: 50px;
}

.gridContactTexteCont {
    grid-area: TexteCont;
    align-self: start;
    padding-left: 50px;
}

.gridContactNom {
    grid-area: Nom;
    padding-left: 50px;
}

.gridContactMail {
    grid-area: MailClient;
    padding-left: 50px;
}

.gridContactIconeCall {
    grid-area: IconeCall;
    align-self: center;
    font-weight: bold;
    padding-left: 50px;
}

.gridContactInfoResa {
    grid-area: InfoRésa;
padding-top: 20px;
padding-left: 50px;
}

.gridContactTelHotel {
    grid-area: TelHotel;
    padding-bottom: 20px;
    padding-left: 50px;
}

.gridContactTel {
    grid-area: Tel;
    padding: 20px;
    padding-left: 50px;
}


.gridContactSujet {
    grid-area: Sujet;
    padding: 20px;
    padding-left: 50px;
}

.gridContactIconeMap {
    grid-area: IconeMap;
    align-self: center;
    font-weight: bold;
    padding-left: 50px;
    font-size: 60px;
}

.gridContactAdresse {
    grid-area: Adresse;
    align-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.gridContactMessage {
    grid-area: Message;
    padding: 20px;
    padding-left: 50px;
}

.gridContactIconeEnve {
    grid-area: IconeEnve;
    align-self: center;
    font-weight: bold;
    padding-left: 50px;
}






.gridContactMailDucs {
    grid-area: MailDucs;
    padding-top: 20px;
    padding-left: 50px;
}

.gridContactEMailHotel {
    grid-area: MailHotel;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 20px;
    padding-left: 50px;
} 







.gridContactBouton {
    grid-area: Bouton;
    padding-left: 50px;
}


.gridContainerFooter {
    display: grid;
    padding: 20px;
    grid-template-areas:
        "APropos     APropos     APropos     APropos     APropos     APropos     APropos     Contact Contact Contact Contact  Contact "
        "Footertexte Footertexte Footertexte Footertexte Footertexte Footertexte Footertexte Avenue  Avenue  Avenue  Avenue   Avenue "
        "Footertexte Footertexte Footertexte Footertexte Footertexte Footertexte Footertexte Avenue  Avenue  Avenue  Avenue   Avenue "
        "Footertexte Footertexte Footertexte Footertexte Footertexte Footertexte Footertexte IcoCall NumTel  NumTel  NumTel   NumTel "
        "Footertexte Footertexte Footertexte Footertexte Footertexte Footertexte Footertexte Info    Info    Info    Info     Info "
        "Footertexte Footertexte Footertexte Footertexte Footertexte Footertexte Footertexte Insta   Twitter YouTube Facebook Pintarest "
        "Footertexte Footertexte Footertexte Footertexte Footertexte Footertexte Footertexte Insta   Twitter YouTube Facebook Pintarest "
        "Footertexte Footertexte Footertexte Footertexte Footertexte Footertexte Footertexte Insta   Twitter YouTube Facebook Pintarest ";

}

.gridFooterApropos {
    grid-area: APropos;

    padding-top: 30px;
}

.gridFootertexte {
    grid-area: Footertexte;
    align-items: start;
    align-self: flex-start;

    }





.gridFooterContact {
    grid-area: Contact;
    padding-left: 50px;
    padding-top: 30px;

}



.gridavenue{
    grid-area: Avenue;
    padding-left: 50px;
    padding-top: 30px;

}

.gridIcoCall{
    grid-area: IcoCall;
    padding-left: 50px;
    padding-top: -30px;
    padding-bottom: -30px;
    padding-right: -300px;


}

.gridNumTel{
    grid-area: NumTel;
    padding-left: -60px;
    padding-top: -30px;
    padding-bottom: -30px;
    font-weight: 100;
}






.gridInfoDuc {
    grid-area: Info;
    padding-left: 50px;

}




.gridFooterInsta {
    grid-area: Insta;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;


}

.gridFooterTwitter {
    grid-area: Twitter;
    padding-top: 20px;
    padding-bottom: 20px;
}

.gridFooterToutube {
    grid-area: YouTube;
    padding-top: 20px;
    padding-bottom: 20px;
}

.gridFooterFacebook {
    grid-area: Facebook;
    padding-top: 20px;
    padding-bottom: 20px;
}

.gridFooterPintarest {
    grid-area: Pintarest;
    padding-top: 20px;
    padding-bottom: 20px;
}



