.grid_presentation{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 40px;

    .ligne1{
        h3{
            padding-top: 20px;
            padding-bottom: 10px;
        }
        h4{
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    img{
        width: 100%;
        }
    .decalage_image{
        margin-top: 90px;
    }
}

.photo__etalement{
    display: block;
    width: 100%;
    filter: brightness(80%);
}

// grid page acceuil section hotel
.grid__hotel{
    display: grid;
    max-width: auto;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    div{
        background-color: $color4;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h5{
            padding-top: 10px;
            padding-bottom: 10px;
        }
        p{
            padding-bottom: 20px;
        }
    }
}

// grid page accueil section chambre
.grid__chambres{
    display: grid;
    gap: 30px;
    margin: auto;
    grid-template-columns: repeat(6, 1fr);
}

.ligne1{
    grid-column: span 2;
}

.ligne2{
    grid-column: span 3;
}

.grid__chambres{
    figure{
        position: relative;
        figcaption{
            // overflow: hidden;
            >a{
                position: absolute;
                right: -10px;
                top: 60px;
                transform: rotate(270deg);
            }
            .cache{
                position: absolute;
                bottom: -90px;
                width: 100%;
                transition: all 1s ease-in-out;
                >p:nth-child(1){
                    color: white;
                    font-size: 2em;
                    padding: 10px;
                }
                >p:nth-child(2){
                    color: white;
                    font-size: 2.5em;
                    padding: 10px 10px 60px 10px;
                }
                .cache1{
                    display: flex;
                    justify-content: space-between;
                    align-items: first baseline;
                    a{
                        color: white;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-family: 'Barlow', sans-serif;
                        font-size: 1.2em;
                        &:hover{
                            color: $color5;
                        }
                    }
                    .cache2{
                        display: flex;
                        a{
                            color: white;
                        }
                        p{
                            color: white;
                            font-size: 1.8em;
                            padding: 10px 10px 40px 10px;
                        }
                    }
                }
            }
        }
        &:hover .cache{
            bottom: 0px;
        }
    }
}

// grid page acceuil section option
.grid__option{
    display: grid;
    max-width: auto;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
    >div{
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:nth-child(1){
            padding-left: 0;
        }

        >p{
            padding-top: 15px;
            padding-bottom: 15px;
        }

        article{
            display: flex;
            align-items: center;
            padding-top: 20px;

            div{
                p:nth-child(2){
                    font-size: 1.5em;
                    color: $color5;
                }
            }
        }
        &:nth-child(2), &:nth-child(3){
            background-color: $color4;
        }
    }
}

// grid page acceuil section service
.grid__service{
    padding-top: 30px;
    display: grid;
    max-width: auto;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    div{
        padding: 20px;
        border: 1px solid $color4;
        p{
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}

// grid footer1
.grid__footer1{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    
    >div:nth-child(1){
        padding-right: 200px;
    }

}

// grid page detail chambre
.grid_detail_chambre{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
    h5{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    p{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    span{
        color: $color5;
        font-size: 1.5em;
        padding-right: 10px;
    }
    >div:nth-child(1){
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}

@media screen and (max-width:600px) {
    /** Mobile **/
    .grid__chambres{
        display: grid;
        gap: 30px;
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .ligne1{
        grid-column: span 1;
    }
    
    .ligne2{
        grid-column: span 1;
    }

    .decalage{
        margin-left: 0;
    }
}



