
.gridContainerContact {
    display: grid;

    grid-template-areas:
    "Ducsman       Ducsman       Ducsman       Ducsman       Ducsman       Ducsman     Restons   Restons   Restons   Restons      Restons      Restons "
    "TexteCont     TexteCont     TexteCont     TexteCont     TexteCont     TexteCont   Nom       Nom       Nom       MailClient   MailClient   MailClient   "
    "IconeCall     InfoRésa      InfoRésa      InfoRésa      InfoRésa      InfoRésa    Tel       Tel       Tel       Sujet        Sujet        Sujet  "
    "IconeCall     TelHotel      TelHotel      TelHotel      TelHotel      TelHotel    Tel       Tel       Tel       Sujet        Sujet        Sujet   "
    "IconeEnve     MailDucs      MailDucs      MailDucs      MailDucs      MailDucs    Message   Message   Message   Message      Message      Message  "
    "IconeEnve     MailHotel     MailHotel     MailHotel     MailHotel     MailHotel   Message   Message   Message   Message      Message      Message  "
    "IconeMap      Adresse       Adresse       Adresse       Adresse       Adresse     Message   Message   Message   Message      Message      Message  "
    "IconeMap      Adresse       Adresse       Adresse       Adresse       Adresse     Bouton    Bouton    Bouton    Bouton       Bouton       Bouton   ";
} 


.gridContactDucsman {
    grid-area: Ducsman;
}

.gridContactRestons {
    grid-area: Restons;
}

.gridContactTexteCont {
    grid-area: TexteCont;
}

.gridContactNom {
    grid-area: Nom;
}

.gridContactMail {
    grid-area: MailClient;
}

.gridContactIconeCall {
    grid-area: IconeCall;
}

.gridContactInfoResa {
    grid-area: InfoRésa;
}

.gridContactTelHotel {
    grid-area: TelHotel;
}

.gridContactTel {
    grid-area: Tel;
}


.gridContactSujet {
    grid-area: Sujet;
}

.gridContactIconeMap {
    grid-area: IconeMap;
}

.gridContactAdresse {
    grid-area: Adresse;
}

.gridContactMessage {
    grid-area: Message;
}

.gridContactIconeEnve {
    grid-area: IconeEnve;
}






.gridContactMailDucs {
    grid-area: MailDucs;
}

.gridContactEMailHotel {
    grid-area: MailHotel;
} 







.gridContactBouton {
    grid-area: Bouton;
}


.gridContainerFooter {
    display: grid;
    grid-template-areas:
        "APropos     APropos     APropos     APropos     APropos     APropos     APropos     Contact Contact Contact Contact  Contact"
        "Footertexte Footertexte Footertexte Footertexte Footertexte Footertexte Footertexte Contact Contact Contact Contact  Contact"
        "Footertexte Footertexte Footertexte Footertexte Footertexte Footertexte Footertexte Contact Contact Contact Contact  Contact"
        "Footertexte Footertexte Footertexte Footertexte Footertexte Footertexte Footertexte Insta   Twitter YouTube Facebook Pintarest"
        "Footertexte Footertexte Footertexte Footertexte Footertexte Footertexte Footertexte Insta   Twitter YouTube Facebook Pintarest"
        "Footertexte Footertexte Footertexte Footertexte Footertexte Footertexte Footertexte Insta   Twitter YouTube Facebook Pintarest";

}

.grigFooterApropos {
    grid-area: APropos;
    padding: 20px;
}

.grigFootertexte {
    grid-area: Footertexte;
    padding: 20px;
    }

.gridFooterContact {
    grid-area: Contact;
    padding: 20px;
}

.gridFooterContact {
    grid-area: Contact;
    padding: 20px;
}

.gridFooterInsta {
    grid-area: Insta;
    padding: 20px;
}

.gridFooterTwitter {
    grid-area: Twitter;
    padding: 20px;
}

.gridFooterToutube {
    grid-area: YouTube;
    padding: 20px;
}

.gridFooterFacebook {
    grid-area: Facebook;
    padding: 20px;
}

.gridFooterPintarest {
    grid-area: Pintarest;
    padding: 20px;
}

