.gridContainerContact {
    display: grid;
    grid-template-columns: repeat(6 1fr);
    grid-template-rows: repeat(6 1fr);

}

.gridContainerFooter {
    display: grid;
    grid-template-columns: repeat(6 1fr);
    grid-template-rows: repeat(4 1fr);
    grid-area:
        "APropos APropos APropos APropos Contact Contact"
        "APropos APropos APropos APropos Contact Contact"
        "APropos APropos APropos APropos Contact Contact"
        "Mention Mention Mention Mention Mention Mention";
}

.grigFooterApropos {
    display: grid;

    justify-content: flex-start;
    grid-area: APropos;

}

.gridFooterContact {
    display: grid;

    justify-content: flex-end;
    grid-area: Contact;

}

.gridFooterMentionsLegales {
    display: grid;
    height: 50px;
    grid-area: Mention;

    gap: 100px;
}