.photo__etalement{
    width: 100%;
}

.photo__expDuLuxe{
    width: 450px;
}

.zoom{
    overflow: hidden;
    img{
        width: 100%;
        height: auto;
        -webkit-transition: 1s ease-in-out;
        transition: 1s ease-in-out;
        &:hover{
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
            
        }
    }
}

.darkened{
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    &:hover{
        filter: brightness(70%);
    }
}