// les differentes couleurs : il y a 4 niveaux de gris (du plus foncé au plus clair : 1 2 3 4) et le doré (5)
$couleur1: #1b1b1b;

















$TitreDeNiveau1: color white;

$TitreDeNiveau2: color #ab8a62;
$TitreDeNiveau3: color white;
$TitreDeNiveau4: color white;

$Icone: color white;



