// les differentes couleurs : il y a 4 niveaux de gris (du plus foncé au plus clair : 1 2 3 4)
$color1: #1b1b1b;
$color2: #1e1e1e;
$color3: #222222;
$color4: #2b2b2b;

// les differentes couleurs : il y a 4 niveaux de gris (du plus foncé au plus clair : 1 2 3 4) et le doré (5)
$couleur1: #1b1b1b;
<<<<<<< HEAD

















$TitreDeNiveau1: color white;

$TitreDeNiveau2: color #ab8a62;
$TitreDeNiveau3: color white;
$TitreDeNiveau4: color white;

$Icone: color white;
$Icone1:  white;
$Icone2:  white;


=======
$couleur2: #1e1e1e;
$couleur3: #222222;
$couleur4: #2b2b2b;
$couleur5: #ab8a62;
>>>>>>> 4fc21ffa0fde421cb5b41f70b4654c5a986f7be8

