.design__expDuLuxe{
    background-color: $color3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#design__expDuLuxe__element{
    align-self: flex-end;
}

.height__expDuLuxe{
    height: 800px;
}

.design__chambres{
    background-color: $color2;
    padding: 100px;
}

.design__hotel{
    background-color: $color3;
    padding: 100px;
}

.design__option{
    background-color: $color3;
    padding: 100px;
}

.design__service{
    background-color: $color3;
    padding: 100px;
}

.design__entete{
    
}